
@media (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .logo {
        flex: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .menu {
        flex: 100%;
        margin-right: 0;
        text-align: left;
    }

    .banner-container {
        background-color: #212630;
    }

    .full-text {
        color: white;
        text-align: center;
    }

    .text-title {
        text-align: center;
    }

    .formulario {
        margin-right: 10px;
    }

    .orange {
        display: none;
    }

    .darkblue {
        background-color: #212630;
        padding: 30px;
        width: 33.33%;
        text-align: right;
    }

    .white {
        background-color: white;
        padding: 30px;
        width: 33.33%;
        text-align: center;
    }

    .orange2 {
        background-color: #FF6540;
        padding: 30px;
        width: 33.33%;
    }

    .footer-menu-content {
        text-align: center;
    }
}

@media (max-width: 960px) {
    .servicos {
        flex-wrap: wrap;
    }

    .slide-marcas {
        display: block;
    }

    .icon {
        flex: 0.04 0 calc(50% - 10px);
    }

    .img-sofa img {
        display: none;
    }

    .video {
        height: 450px;
    }

    .video-area {
        width: 700px;
        height: 393.75px;
    }

    .orange {
        display: none;
    }

    .colors {
        display: block;
    }

    .darkblue {
        background-color: #212630;
        padding: 30px;
        width: 100%;
        text-align: center;
    }

    .white {
        background-color: white;
        padding: 30px;
        width: 100%;
        text-align: center;
    }

    .orange2 {
        background-color: #FF6540;
        padding: 30px;
        width: 100%;
        text-align: center;
    }

    .full-text {
        text-shadow: 0px 1px 2px rgb(0, 0, 0);
    }

    .formulario {
        margin-right: 0;
    }

}

@media (max-width: 760px) {
    .navbar {
        padding: 0;
        margin-top: 25px;
    }

    .menu {
        display: none;
    }

    .video {
        height: 230px;
    }

    .video-area {
        width: 350px;
        height: 196.875px;
    }

}

@media (max-width: 664px) {

    .carousel-marcas {
        display: block;
        margin-bottom: 0;
    }

    .google-avaliacoes {
        display: block;
        text-align: center;
    }

    .avaliacao {
        margin: 0 auto 40px;
        padding: 10px;
        max-width: 400px;
    }

    .img-slogan {
        background-image: url('/img/bannerPrincipalMobile.png');
    }

    .img-referencia {
        background-image: url('/img/REFERENCIA-MOBILE.png');
    }
}

@media (max-width: 430px) {

    .servicos {
        display: block;
    }

    .video {
        height: 170px;
    }

    .video-area {
        width: 266.66px;
        height: 150px;
    }


    .googlelink {
        font-size: 14px;
    }

    .newsletter,
    .social,
    .footer-menu,
    .footer-menu2 {
        margin: 10px;
    }

    .newsletter-image {
        width: 100%;
        margin-bottom: 5px;
    }

    .newsletter-input,
    .newsletter-button {
        width: 100%;
        margin: 2.5px;
    }
}