@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    height: 115px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.logo {
    flex: 20%;
    margin-left: 22%;
    text-align: center;
}

.logo p {
    
    font-size: 40px;
}

.menu {
    flex: 70%;
    margin-right: 15%;
    text-align: right;
    padding: 20px;
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 20px 16px;
    font-family: 'Raleway', sans-serif;
}

.menu a:hover {
    color: #494949;
}

.banners {
    position: relative;
}

.banner-referencia {
    display: flex;
    justify-content: center;
}

.banner-slogan {
    width: 100%;
}

.banner-referencia img {
    max-width: 100%;
    max-height: 400px;
    width: auto;
}

.banner-slogan img {
    width: 100%;
    height: 100%;
}

.video {
    background-color: #212630;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-area {
    position: relative;
    width: 900px;
    height: 506.25px;
}

.video-area iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.nossos-servicos {
    text-align: center;
}

.frase p {
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 50px;
}

.frase {
    margin-top: 60px;
}

.servicos {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.icon {
    margin: 5px;
    flex: 0.1;
}

.banner-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #212630;
}

.full-text {
    display: flex;
    width: 600px;
    flex-direction: column;
    padding: 20px;
    color: white;
    text-align: justify;
    text-shadow: 0px 2px 4px rgb(0, 0, 0);
}

.text-title {
    text-align: center;
}

.slide-marcas {
    margin-top: 60px;
    text-align: center;
}

.slide-marcas h2 {
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 30px;
}

.slide-marcas p {
    font-size: 14px;
    margin-bottom: 30px;
}

.carousel-marcas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.icon-marca {
    margin: 10px;
    flex: 0.04 0 auto;
}

.icon-marca img {
    max-width: 100px;
}

.avaliacoes {
    text-align: center;
}

.txtavaliacoes {
    text-transform: uppercase;
    font-size: 30px;
}

.google-avaliacoes {
    display: flex;
    justify-content: center;
}

.avaliacao {
    margin-bottom: 40px;
    padding: 10px;
    max-width: 400px;
}

.googlelink img {
    width: 35px;
    margin-left: 10px;
    cursor: pointer;
}

.googlelink {
    color: #FF633F;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.title-form {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    margin-bottom: 60px;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.img-sofa img {
    width: 100%;
    max-width: 700px;
}

form p {
    color: white;

    font-size: 16px
}

.formulario form {
    display: flex;
    flex-direction: column;
    background-color: #212630;
    border-radius: 10px;
    padding: 5px 20px;
    max-width: 400px;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 8px;
    resize: none;
}

form input[type="submit"] {
    color: white;
    background-color: #FF633F;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    color: #FF633F;
    background-color: transparent;
    border: 1px solid #FF633F;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.colors {
    display: flex;
    margin-bottom: 60px;
}

.orange {
    background-color: #FF6540;
    padding: 30px;
    width: 10%;
}

.darkblue {
    background-color: #212630;
    padding: 30px;
    width: 40%;
    text-align: right;
}

.white {
    background-color: white;
    padding: 30px;
    width: 30%;
    text-align: center;
}

.orange2 {
    background-color: #FF6540;
    padding: 30px;
    width: 20%;
}

.colors img {
    width: 250px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.newsletter,
.social,
.footer-menu,
.footer-menu2 {
    margin: 20px;
}

.newsletter {
    text-align: center;
}

.newsletter-image {
    width: 600px;
    margin-bottom: 10px;
}

.footer-menu-content {
    display: flex;
    align-items: center;
}

.form-newsletter {
    display: flex;
    justify-content: center;
}

.newsletter-input,
.newsletter-button {
    width: 200px;
    margin: 5px;
}

.footer-menu ul,
.footer-menu2 ul {
    font-size: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu a,
.footer-menu2 a {
    text-decoration: none;
}

.footer-menu a,
.footer-menu2 a {
    color: #383838;
}

.colorend {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.azulescuro {
    background-color: #212630;
    padding: 20px;
    width: 50%;
}

.laranja {
    background-color: #FF6540;
    padding: 20px;
    width: 50%;
}
